body {
    font-family: Arial, sans-serif;
    text-align: center;
    left: 30%;
    background-color: brown;
    height: 100vh;
  }
header {
  background-color: #333; /* Distinct background color */
  color: white; /* Text color */
  text-align: center; /* Center align text */
  box-shadow: 0 2px 4px rgba(255, 255, 0, 0.5); /* Yellow glow shadow */
}
input, button {
    margin: 10px;
    padding: 8px;
    font-size: 25px;
}
  #result {
    color: rgb(42, 165, 69);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
/*.inpts {
    display: inline-block;
    background-color: brown;
    border-left: 5lvh;
    width: 1;
    color: greenyellow;
    margin-top: 25vh;
}
.btns {
    display: inline-flex;
    border-left: 43%;
    background-color: brown;
    width: fit-content;
}*/
.logoholder {
  width: 100%; /* Fill 100% width */
  height: 7%;
  margin: 0 auto; 
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .logoholder {
    width: 75%; /* 3/4 width */
  }
}
#ex {
  width: fit-content;
  cursor: pointer;
  transition: transform 0.5s ease;
  border-radius: 50%;
}
.rotated {
  transform: rotate(180deg); /* Rotate the element by 180 degrees */
  border-radius: 50%;
}
.fields {
  width: 50%; /* Fill 50% width each */
  box-sizing: border-box; /* Include padding and border in width calculation */
  padding: 10px, rgb, 123,44,28; /* Add padding for spacing */
  margin: 0 auto;
}
/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .fields {
    flex-direction: column; /* Display input fields on top of each other */
  }
}
.butts {
  border-radius: 50%;
  cursor: progress;
  z-index: 1;
}
#Logo {
  width: 100%; /* Fill 100% width */
  height: 17lvh;
}
/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .Logo {
    width: 75%; /* 3/4 width */
  }
}
/* Styles for small screens */
.btns, .inpts  {
  width: 100%; /* Full width on small screens */
  background-color: #f0f0f0; /* Background color for visibility */
  padding: 20px; /* Add padding for better visibility */
  height: fit-content;
  margin: 0 auto;
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .btns, .inpts {
    width: 75%; /* 3/4 width on larger screens */
    margin: 0 auto; /* Center the div horizontally */
  }

}
.inpts {
  border-top: 30lvh;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow wrapping */
}
#copyanswer {
  display: none;
}