body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: gradient (purple 33%, green 67%);
  }

  input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
  }
  #result {
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
.inpts {
    display: inline-block;
    background-color: blanchedalmond;
    border-left: 43%;
    width: max-content;
}
.btns {
    display: inline-flex;
    border-left: 43%;
    background-color: brown;
    width: fit-content;
}
#logoholder {
  max-width: 90%;
  background-image: url(images/sasoft.png);
  background-repeat: no-repeat;
}
#ex {
  width: fit-content;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.rotated {
  transform: rotate(45deg); /* Rotate the element by 45 degrees */
}